<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Best of the Year</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav th:replace="fragments :: navbar"></nav>
    <!-- SEZIONE TITOLO -->
    <main class="container mt-5 text-center">
        <div class="row">
            <div class="col-12 mt-5">
                <h1>Best of the Year by <span th:text="${name} + ' ' + ${surname}" /></h1>
            </div>
            <!-- SEZIONE CARD -->
            <div class="col-12 d-flex justify-content-center mt-5">
                <div class="card" style="width: 600px">
                    <img src="" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Lorem Ipsum</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nam quos
                            quam, labore, maiores eaque eveniet delectus vel, eum voluptatum iste aspernatur consectetur
                            id officiis est illo veniam quas numquam!</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>